# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*_cachedir

*.dot
*.csv

# Gurobi stuff
*.lp
*.sol

# TeX stuff
tex/
*.tex
*.aux
*.pdf


# output files
result*.json
*.progress
*.dat
*.map3
*.log
dot_output
dot
*distribution.json


error_log.txt

# pyenv stuff
.python-version

*.egg-info
iwho/inputfiles/schemes/*.json
iwho/inputfiles/schemes/*.pickle
